* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-primary {
    width: 100%;
    height: 100vh;
    background: linear-gradient(122.29deg, #4C38EE 40.13%, rgba(76, 56, 238, 0.3) 133.77%);
}

.home-primary-authlang {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(180deg, #4C38EE 0%, #543DFF 100%);
}

.home-primary-authlang > .home-primary-authlang-navlinks {
    padding: 5px;
    display: flex;
    align-items: center;
}

.home-primary-authlang-navlinks > a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.home-primary-navbar {
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    gap: 25px;
}

.home-primary-navbar > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.home-primary-main {
    display: flex;
    height: calc(100vh - 160px);
}

.home-primary-main-left {
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-primary-main-left-head1, .home-primary-main-left-logo, .home-primary-main-left-head2, .home-primary-main-left-btn {
    width: 100%;
    padding: 15px;
}

.home-primary-main-left-logo {
    display: flex;
    align-items: center;
    margin-top: -50px;
}

.home-primary-main-left-logo > h2 {
    font-size: 14px;
    color: white;
    margin-left: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}

.home-primary-main-left-head1 > h1 {
    color: white;
    font-size: 55px;
}

.home-primary-main-left-head2 {
    width: 80%;
}

.home-primary-main-left-head2 > h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.home-primary-main-left-btn > button {
    background-color: white;
    width: 100px;
    color: #4C38EE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.325);
    font-size: 15px;
    padding: 10px;
    border: white solid 1px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.home-primary-main-right {
    width: 50%;
}

.home-primary-main-right > img {
    height: 100%;
    width: 100%;
}

/* images + text alternative */
.home-secondary {
    width: 100%;
    height: 100%;
}

.home-secondary-part {
    width: 100%;
    margin-bottom: 30px;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 10px;
}

.home-secondary-part-left {
    width: 50%;
    padding: 15px;
}

.home-secondary-part-left > h1 {
    color: #4C38EE;
    margin-bottom: 10px;
    font-size: 40px;
}

.home-secondary-part-left > h2 {
    font-size: 20px;
    font-weight: 200;
}

.home-secondary-part-right {
    width: 50%;
}


/* Request a quote */
.home-banner-contact-container {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: #4C38EE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner-contact {
    width: fit-content;
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
}


.home-banner-contact-left > h1 {
    color: white;
    margin-bottom: 10px;
}

.home-banner-contact-left > h2 {
    color: white;
    font-weight: 200;
    font-size: 16px;
}


.home-banner-contact-right > button {
    width: 120px;
    border: white solid 1px;
    background-color: #543DFF;
    color: white;
    margin-left: 20px;
    padding: 10px;
}


/* quicklinks and subscription */
.home-quicklinks-subscription-container {
    width: 100%;
}

.home-quicklinks-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.home-quicklinks-subscription-logo {
    padding: 10px;
}

.home-quicklinks {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-quicklinks > h2 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    color: #4C38EE;
}

.home-quicklinks > a {
    text-decoration: none;
    color: black;
}

.home-quicklinks-subscribe-container > h2 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    color: #4C38EE;
}

.home-quicklinks-subscribe-input > input {
    padding: 10px;
    border-radius: 4px;
    border: rgba(0, 0, 0, 0.108) solid 1px;
}

.home-quicklinks-subscribe-input > button {
    background-color: #3722D3;
    padding: 10px;
    border-radius: 4px;
    color: white;
    border: #3722D3 solid 1px;
}


footer {
    width: 100%;
    border-top: rgba(0, 0, 0, 0.323) solid 1px;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
}

footer > a {
    text-decoration: none;
    color: #3722D3;
}